body {
  font-family: "brandon-grotesque", sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

/* p , h1 , h2 ,h3 {
  font-family : "brandon-grotesque", sans-serif !important;
} */

.apnafont {
  font-family: "brandon-grotesque", sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

/* mobile nav starts */

.productImg {
  transition: all 1s !important;
  transform: scale(1);
  /* height:500px !important; */
  object-fit: cover !important;
  border: 30px solid rgb(255, 255, 255);
}

.productName {
  font-family: "FuturaPT-Book" !important;
}

.productImg:hover {
  transform: scale(0.9);
}

.animtitle {
  transition: all 1s ease-in-out !important;
  color: white;
}

.animtitle:hover {
  color: #231f20 !important;
  letter-spacing: 3px !important;
  text-shadow: 0px 0px 4px rgb(255, 255, 255) !important;
  background-color: rgba(235, 235, 235, 0.726);
}

/* @keyframes greying {
  from {filter: grayscale(0%);}
  to {filter: grayscale(0%);}
} */

/* 
.imgGreying {
  animation-name: greying;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
} */

.active {
  border-bottom: 1px solid rgb(20, 20, 20);
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 100px;
  width: 100px;
  margin-top: 100px;
}

.twocard {
  display: flex;
  justify-content: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
}

.productgallerynav {
  font-family: "brandon-grotesque", sans-serif !important;
}

.productgallerynav li {
  font-family: "FuturaPT-Book" !important;
}

.microDada {
}
.microDad {
  /* background:pink; */
}

.level-micro {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  /* background:green !important; */
  transition: all 0.5s;

  display: none;
  opacity: 0;
}

.microDad:hover ~ .level-micro {
  display: block;
  opacity: 1;
  padding: 0px 0px 0px 10px;
}

.level-micro li {
  /* border-left: 2px solid black; */
}

.level-micro:hover {
  display: block;
  opacity: 1;
}

.productimgDisplay {
  width: 100% !important;
}

.cartcard {
  height: 200px;
  /* background: pink; */
  padding: 10px 30px;
}

.innercard {
  border: 2px solid black;
  /* background: green; */
  height: 100%;
  display: flex;
  justify-content: center;
}

.innercard .cartimg {
  padding: 20px;
  /* background:grey; */
  width: 30%;
}
.innercard .cartimg img {
  height: 100%;
}

.innercard .cartdetail {
  /* background: blue; */
  width: 70%;
}

.chotimage {
  width: 120px !important;
}

/* transition styling starts here */

.view-enter {
  opacity: 0;
}

.view-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}

.view-exit {
  opacity: 1;
}
.view-exit-active {
  opacity: 0;
  transition: opacity 2220ms;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/* transition styling ends here */

/* contact us styling starts here */

.contact_header {
  background-image: url("../images/contact_usfinal.jpg");
}

textarea {
  width: 90%;
  height: 100px;
}

/* contact us styling ends here */

/* fav button style starts here
 */

.favbutton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  opacity: 1;
  cursor: pointer;
}

.favbutton span {
  color: grey;
  transition: all 0.3s;
}
.favbutton span:hover {
  font-size: larger;
  color: red;
}

/* multistep styling */

.go767851704 {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
  color: black !important;
  border-bottom: 4px solid #3a2c2c !important;
}

.go767851704::before {
  position: relative;
  bottom: -3.99rem;
  float: left;
  left: 50%;
  content: "✓";
  color: white !important;
  background-color: #a3aaac !important;
  width: 1.2em;
  line-height: 1.4em;
  border-radius: 1.2em;
}
